.container {
    background-image: linear-gradient(#383535, #858282);
    height: 3000px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    border-bottom: 1px solid #6A6363;
}

.presentation {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header .presentation img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #6A6363;
}

.header .presentation h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: white;
}

.main {
    margin-left: 400px;
}

.main h2 {
    color: white;
    margin-top: 100px;
    margin-right: 380px;
    padding-bottom: 10px;
    border-bottom: 1px solid #6A6363;
    width: 1100px;
}

.musics-card {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    gap: 20px;
}

.footer-player {
    display: flex;
    align-items: center;
    gap: 480px;
    padding-left: 50px;
    width: 2000px;
    height: 132px;
    background-image: linear-gradient(#383535, #858282);
    position: fixed;
    bottom: 0;
}

.artist h3 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    position: relative;
    top: -2px;
}

.artist p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    top: -15px;
}

.music-bar {
    position: absolute;
    left: 750px;
}

.player-buttons {
    display: flex;
    gap: 50px;
    padding-top: 70px;
    padding-bottom: 30px;
    position: relative;
    left: -24px;
    cursor: pointer;
}

.bar-container {
    position: relative;
    width: 560px;
    height: 4px;
    top: -15px;
    right: 112px;
    background-color: #CCC3C3;
    border-radius: 2px;
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #E5007B;
    border-radius: 2px;
    transition: width 0.2s ease-in-out;
}

.point {
    position: absolute;
    top: -4px;
    left: 0;
    width: 12px;
    height: 12px;
    background-color: #E5007B;
    border-radius: 50%;
    transform: translateX(-50%);
    transition: left 0.2s ease-in-out;
}



.time-container {
    display: flex;
    justify-content: space-between;
    color: #CCC3C3;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-right: 100px;
    margin-left: -30px;
}

.start {
    position: relative;
    left: -125px;
    top: -43px;
}

.end {
    position: relative;
    right: -30px;
    top: -43px;
}
