.container {
    background-image: linear-gradient(
        #383535 ,
        #858282
    );
    height: 3000px;
}

.header{
    display: flex;
    justify-content: space-between;

    padding: 20px 50px  20px;


    border-bottom: 1px solid #6A6363;
}

.presentation{
    display: flex;
    align-items: center;
    gap: 8px;


}

.header .presentation img {
    width: 30px;
    height: 30px;
    border-radius: 70px;
    border: 2px solid #6A6363;
}

.header .presentation h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: white;
}

.main{
    margin-left: 400px;
}

.main h2{
    color: white;

    margin-top: 100px;
    margin-right: 380px;
    padding-bottom: 10px;


    border-bottom: 1px solid #6A6363;
    width: 1100px;

}

.musics-card{
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    gap: 20px;
}

.footer-player{
    display: flex;
    align-items: center;
    gap: 480px;


    padding-left: 50px;
    /* margin-top: 100px; */


    background-image: linear-gradient(

        #383535 ,
        #858282
    );

    width: 2000px;
    height: 132px;




    position: fixed;
    top: 830px;
}

.artist h3{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;



}

.artist p{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;


    position: relative;
    top: -5px;
}

.music-bar{
    position: absolute;
    left: 750px;
}

.player-buttons{
    display: flex;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
    cursor: pointer;
}

.bar-container {
    position: relative;
    width: 560px;
    height: 4px;
    right: 90px;
    background-color: #666;
    border-radius: 2px;
}

.bar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 560px;
    background-color: #E5007B;
    border-radius: 2px;
    transition: width 0.2s ease-in-out;
    
}

.point{
    position: absolute;
    top: -4px;
    left: 0;
    width: 12px;
    height: 12px;
    background-color: #E5007B;
    border-radius: 50%;
    transform: translateX(-50%);
    transition: left 0.2s ease-in-out;
}

progress{
    height: 4px;
    width: 0;

}

.time-container{
    display: flex;
    justify-content: space-between;
    color: #CCC3C3;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-right: 100px;
    margin-left: -30px;

}



.start{
    position: relative;
    left: -100px;
    top: -30px;

}

.end{
    position: relative;
    right: -50px;
    top: -30px;
}
